<div class="container">
    <div class="loader loading">
        <div class="particle"></div>
        <div class="particle leftSpin"></div>
        <div class="particle"></div>
        <div class="particle rightSpin"></div>
        <div class="particle"></div>
        <div class="particle leftSpin"></div>
        <div class="particle"></div>
        <div class="particle rightSpin"></div>
        <div class="particle"></div>
    </div>
</div>


<div id="map"></div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/mapStyles.js"></script>
<script src="../js/maps.js"></script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNqmPenrVlA0TSc1T5hMFVJxUmp7YPYjg&libraries=places&callback=initMap"></script>